<header class="m-header" id="menuView">
  <nav class="m-header-nav">
    <button class="m-header-btn-close btn-with-icon">
      <svg><use xlink:href="#icon-close"></use></svg>
      <span>Cerrar</span>
    </button>
    <ul>
      <li class="-selected"><a href="/">Inicio</a></li>
      <li><a href="/confirms/new">Confirmar asistencia</a></li>
      <li><a href="/">Plan del día</a></li>
      <li><a href="/que-hacer">Qué hacer en Coruña</a></li>
      <li><a href="/">Regalo</a></li>
      <li><a href="/">Juegos</a></li>
      <li><a href="/">Contacto</a></li>
    </ul>
  </nav>
  <div class="m-header-fixed m-grid">
    <div class="m-grid-col -space-between -align-center -bg-white">
      <button class="m-header-btn-menu btn-with-icon">
        <svg><use xlink:href="#icon-menu"></use></svg>
        <span>Menú</span>
      </button>
      <h1><a class="btn-with-icon" href="/">Bea <span>&</span> Mati</a></h1>
    </div>
    <div class="m-grid-col -end">
      <a href="/confirms/new" class="m-header-nav-btn-confirm btn-with-icon -dark">
        <span>Confirmar asistencia</span>
        <svg><use xlink:href="#icon-drinks"></use></svg>
      </a>      
    </div>
  </div>
</header>
