<header class="m-header" id="menuView">
  <nav class="m-header-nav">
    <button class="m-header-btn-close btn-with-icon">
      <svg><use xlink:href="#icon-close"></use></svg>
      <span>Cerrar</span>
    </button>
    <ul>
      <li data-route="home" class="-selected"><a href="/">Inicio</a></li>
      <li data-route="confirmsnew"><a href="/?section=confirmsnew">Confirmar asistencia</a></li>
      <li data-route="plan-del-dia"><a href="/?section=plan-del-dia">Plan del día</a></li>
      <li data-route="que-hacer"><a href="/?section=que-hacer">¿Qué hacer en Coruña?</a></li>
      <li data-route="regalo"><a href="/?section=regalo">Regalo</a></li>
      <li data-route="cuanto-sabes-de-nosotros"><a href="/?section=cuanto-sabes-de-nosotros">¿Cuánto sabes de nosotros?</a></li>
    </ul>
  </nav>
  <div class="m-header-fixed m-grid">
    <div class="m-grid-col -space-between -align-center -bg-white">
      <button class="m-header-btn-menu btn-with-icon">
        <svg><use xlink:href="#icon-menu"></use></svg>
        <span>Menú</span>
      </button>
      <h1>
        <a class="btn-with-icon" href="/">
          <em class="-left">
            <span>Bea</span> 
            <span class="-absolute">Mati</span>
          </em> 
          <span>&</span> 
          <em class="-right">
            <span>Mati</span> 
            <span class="-absolute">Bea</span>
          </em>
        </a>
      </h1>
    </div>
    <div class="m-grid-col -end">
      <a href="/confirms/new" class="m-header-nav-btn-confirm btn-with-icon -dark">
        <span>Confirmar asistencia</span>
        <svg><use xlink:href="#icon-drinks"></use></svg>
      </a>      
    </div>
  </div>
</header>
