<header class="m-header">
  <nav class="m-header-nav">
    <div class="m-header-nav-close">
      <svg><use xlink:href="#icon-close"></use></svg>
      <span>Cerrar</span>
    </div>
    <ul>
      <li class="-selected"><a href="/">Inicio</a></li>
      <li><a href="/confirms/new">Confirmar asistencia</a></li>
      <li><a href="/">Plan del día</a></li>
      <li><a href="/que-hacer">Qué hacer en Coruña</a></li>
      <li><a href="/">Regalo</a></li>
      <li><a href="/">Juegos</a></li>
      <li><a href="/">Contacto</a></li>
    </ul>
  </nav>
  <div class="m-header-fixed">
    <div class="m-grid">
      <div class="m-grid-col"></div>
      <div class="m-grid-col"></div>
    </div>
  </div>
</header>
