<header class="m-header">
  <nav class="m-header-nav">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/confirms/new">Confirmar asistencia</a></li>
      <li><a href="/">Plan del día</a></li>
      <li><a href="/que-hacer">Qué hacer en Coruña</a></li>
      <li><a href="/">Regalo</a></li>
    </ul>
  </nav>
</header>
