<div id="scrollView" class="m-content">
  <section id="m-section-home" data-tooltip="Home" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>EMPIEZA LA CUENTA ATRÁS</h3>
          <h2>Bea & Matías dijeron sí.</h2>
        </header>
        <div class="info">
          <p>Después de tantos años juntos, el próximo 29 de octubre de 2016, daremos un paso adelante en nuestra relación.</p>
          <p>Para nosotros será un día inolvidable y deseamos que lo sea también para vosotros. Formais parte de nuestra historia y no sería completo sin vuestra presencia.</p>
          <p>Hemos hecho esta web para que os informéis de los detalles del día, podáis aprovechar al máximo vuestra estancia y descubrir alguna curiosidad sobre nosotros.</p>
          <p>Esperamos que os guste y os sea de utilidad, <br>Bea y Mati</p>
        </div>
      </div>
    </div>
    <div class="m-section-box -home -image">
      <div class="m-countdown" id="countdownView"></div>    
    </div>    
  </section>

  <section id="section-confirmview" data-tooltip="Confirma tu asistencia" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>RSVP</h3>
          <h2>Confirma tu asistencia.</h2>
        </header>
        <div class="info">
          <p><a href="/confirms/new">Confirmar asistencia <svg><use xlink:href="#icon-arrowright"></use></svg></a></p>
        </div>
      </div>
    </div>
    <div class="m-section-box -confirm -image"></div>    
  </section>

  <section id="section-plan-del-dia" data-tooltip="Plan del día" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>TE ESPERAMOS</h3>
          <h2>Plan del día.</h2>
        </header>
        <div class="info">
          <table class="m-table-plan">
            <tbody>
              <tr>
                <td><strong>19:15</strong></td>
                <td>Recepción  en el Hotel Hesperia Finisterre</td>
              </tr>
              <tr>
                <td><strong>19:30</strong></td>
                <td>Ceremonia, Salón xxxxxx</td>
              </tr>
              <tr>
                <td><strong>20:00</strong></td>
                <td>Cocktail, Salón Victoria</td>
              </tr>
              <tr>
                <td><strong>22:00</strong></td>
                <td>Cena y Baile</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="m-section-box -plan -image"></div>    
  </section>

  <section id="section-que-hacer" data-tooltip="¿Qué hacer por Coruña?" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>UNA GRAN CIUDAD</h3>
          <h2>¿Qué hacer en Coruña?</h2>
        </header>
        <div class="info">
          <p>Se dice de A Coruña que es ”la ciudad donde nadie es forastero”.</p>
          <p>Os invitamos a conocerla desde nuestro punto de vista con esta selección de lugares que consideramos especiales.</p>
          <p>¡Comentarnos si os han gustado!</p>
          <p><a href="/que-hacer">¿Qué hacer en Coruña? <svg><use xlink:href="#icon-arrowright"></use></svg></a></p>
        </div>
      </div>
    </div>
    <div class="m-section-box -coruna -image"></div>    
  </section>

  <section id="section-regalo" data-tooltip="Regalo" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>AGRADECEMOS EL GESTO</h3>
          <h2>Regalo.</h2>
        </header>
        <div class="info">
          <p>Compartir este día con vosotros ya es un gran regalo.</p>
          <p>Hemos decidido no hacer lista de boda, si nos queréis ayudar a empezar nuestra nueva vida juntos os dejamos un número de cuenta.</p>
          <p>¡Muchas gracias!</p>
          <p><strong>Número de Cuenta (IBAN)</strong> <br> ES28 1465 0100 91 2037333788</p>
        </div>
      </div>
    </div>
    <div class="m-section-box -regalo -image"></div>    
  </section>    

  <section id="section-juegos" data-tooltip="¿Cuánto sabes de nosotros?" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>¿TE ATREVES?</h3>
          <h2>¿Cuánto sabes de nosotros?</h2>
        </header>
        <div class="info">
          <p>Seguro que sabes algunos detalles de nosotros pero, te atreves a comprobar cuanto?</p>
          <p>Hemos creado este juego para que nos dejes impresionados con tus conocimientos o, en caso contrario para que nos conozcas más y estés al tanto de nuestra vida, familia y algunos pequeños detalles de nuestra relación.</p>
          <p>Mucha suerte y esperamos que apruebes con nota.</p>
          <p><a href="/cuanto-sabes-de-nosotros">¿Cuánto sabes de nosotros? <svg><use xlink:href="#icon-arrowright"></use></svg></a></p>
        </div>
      </div>
    </div>
    <div class="m-section-box -juegos -image"></div>    
  </section>    
</div>

<div id="scrollNavigationView" class="m-scroll-navigation"></div>