<div id="scrollView" class="m-content">
  <section id="m-section-home" data-tooltip="Home" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>BIENVENIDOS</h3>
          <h2>Bea & Matías dijeron sí.</h2>
        </header>
        <div class="info">
          <p>Luego de tan buenos momentos e historias juntos, el 29 de octubre de 2016, daremos un paso adelante en nuestra relación.</p>
          <p>Para nosotros será un día inolvidable, deseamos que lo sea también para vosotros, formais parte de nuestra historia y no sería completo sin vuestra presencia.</p>
          <p>Gracias a todos, <br>Bea y Matías</p>
        </div>
      </div>
    </div>
    <div class="m-section-box -home -image">
      <div class="m-countdown" id="countdownView"></div>    
    </div>    
  </section>

  <section id="section-confirmview" data-tooltip="Confirma tu asistencia" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>TE ESPERAMOS</h3>
          <h2>Confirma tu asistencia.</h2>
        </header>
        <div class="info">
          <p><a href="/confirms/new">Confirmar asistencia <svg><use xlink:href="#icon-arrowright"></use></svg></a></p>
        </div>
      </div>
    </div>
    <div class="m-section-box -confirm -image"></div>    
  </section>

  <section id="section-plan-del-dia" data-tooltip="Plan del día" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>Lorem Impsum</h3>
          <h2>Plan del día.</h2>
        </header>
        <div class="info">
          <table class="m-table-plan">
            <tbody>
              <tr>
                <td><strong>17:00</strong></td>
                <td>Recepción  en el Hotel Hesperia Finisterre</td>
              </tr>
              <tr>
                <td><strong>18:00</strong></td>
                <td>Ceremonia, Salón xxxxxx</td>
              </tr>
              <tr>
                <td><strong>20:00</strong></td>
                <td>Cocktail, Salón Victoria</td>
              </tr>
              <tr>
                <td><strong>22:00</strong></td>
                <td>Cena</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="m-section-box -plan -image"></div>    
  </section>

  <section id="section-que-hacer" data-tooltip="¿Qué hacer por Coruña?" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>UNA GRAN CIUDAD</h3>
          <h2>¿Qué hacer en Coruña?</h2>
        </header>
        <div class="info">
          <p><a href="/que-hacer">¿Qué hacer en Coruña? <svg><use xlink:href="#icon-arrowright"></use></svg></a></p>
        </div>
      </div>
    </div>
    <div class="m-section-box -coruna -image"></div>    
  </section>

  <section id="section-regalo" data-tooltip="Regalo" class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>Lorem ipsum</h3>
          <h2>Regalo.</h2>
        </header>
        <div class="info">
          <p>Toda nueva etapa supone cambios y muchas ilusiones. Luna de miel, equipar la casa, darnos algún capricho... Estamos encantados de que nos queráis ayudar a empezar nuestra nueva vida juntos.</p>
          <p>¡Muchas gracias!</p>
          <p><strong>Número de Cuenta (IBAN)</strong> <br> ES28 1465 0100 91 2037333788</p>
        </div>
      </div>
    </div>
    <div class="m-section-box -regalo -image"></div>    
  </section>    
</div>

<div id="scrollNavigationView" class="m-scroll-navigation"></div>