<div id="scrollView" class="m-content">
  <section class="m-section">
    <div class="m-section-box -text">
      <div class="content">
        <header>
          <h3>TE ESPERAMOS</h3>
          <h2>Confirma tu asistencia.</h2>
        </header>
        <div class="info">
          <%= render 'form' %>        
        </div>
      </div>
    </div>
    <div class="m-section-box -confirm-form"></div>    
  </section>
</div>