.m-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  .m-grid-col {
    width: 100%;
    @media (min-width: $br-mobile){
      width: 50%;
    }

    // Justify-content
    &.-end {
      display: none;
      @media (min-width: $br-mobile){
        display: flex;
        justify-content: flex-end;
      }
    }

    &.-space-between {
      display: flex;
      justify-content: space-between;
    }

    // Align-items
    &.-align-center {
      display: flex;
      align-items: center;
    }

  }
}