.m-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  // Fixed
  .m-header-fixed {
    
    .-bg-white {
      background: $white;
    }

    h1 {
      font-size: 14px;

      a {
        color: $font-color-1;

        span {
          color: $font-color-3;
          padding: 0 3px;
        }
      }
    }
  }

  // Navigation
  .m-header-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background: $white;

    &.-active {
      display: block;
    }

    .m-header-btn-close {
      position: absolute;
      top: 0px;
      left: 0px;
      cursor: pointer;
    }

    > ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      > li {
        text-align: center;

        > a {
          display: block;
          font-size: 36px;
          font-weight: 700;
          padding: 10px;
          color: $font-color-3;
        }

        &.-selected {
          a {
            color: $font-color-1;   
          }
        }

        &:hover {
          a {
            color: $font-color-1;   
          }           
        }
      }
    }
  }
}
