.m-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: $bg-color-3;
  border-bottom: 1px solid $border-color-1;
  padding: 10px 0px;

  .m-header-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background: $white;

    .m-header-nav-close {
      display: flex;
      align-items: center;
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;

      svg {
        display: block;
        width: 26px;
        height: 26px;
        margin: 0 5px 0 0;
      }
    }

    > ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      > li {
        text-align: center;

        > a {
          display: block;
          font-size: 36px;
          font-weight: 700;
          padding: 10px;
          color: $font-color-3;
        }

        &.-selected {
          a {
            color: $font-color-1;   
          }
        }

        &:hover {
          a {
            color: $font-color-1;   
          }           
        }
      }
    }
  }
}
