.m-location-categories {
  ul {
    padding: 20px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
      width: 50%;
      label {
        position: relative;
        white-space: nowrap;
        text-align: left;
        
        span {
          display: inline-block;
          padding-right: 8px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0px;
            width: 3px;
            height: 9px;
            background: #000;
            transform: translate(0,-50%);
          }
        }        
      }
      @for $i from 1 through length($locationCategories) {
        &.#{nth($locationCategories, $i)}{
          label:after, label span:after {
            background: nth($locationCategoriesColor, $i);
          }
        }
      }
    }
  }
}