.m-location-list {
  margin: 40px 0 0;
  padding: 40px 0;
  border-top: 1px solid $border-color-1;
  ul {
    padding: 20px 0 0;    
    li {
      display: flex;
      align-items: center;
      margin: 20px 0 0;
      cursor: pointer;

      &:first-child {
        margin: 0;
      }

      .-img {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $black;

        &:before {
          content: "";
          width: 16px;
          height: 16px;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
        }

        @for $i from 1 through length($locationCategories) {
          &.#{nth($locationCategories, $i)}{
            &:before {
              background: nth($locationCategoriesColor, $i);
            }
          }
        }
      }

      .-content {
        width: calc(100% - 60px);
        padding: 0 0 0 20px;
        
        h4 {
          font-size: 12px;
          font-weight: 400;
        }

        h3 {
          font-size: 16px;
          font-weight: 400;
          padding: 5px 0 0;
        }
      }      
    }
  }
}