.m-location-tooltip {
  position: absolute;
  transform: translate(-50%,-100%);
  margin: -10px 0 0;
  overflow: visible;
  max-width: 200px;
  background: $white;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  box-shadow: $shadow-1;

  &.-active {
    visibility: visible;
    opacity: 1;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    background: $white;
  }

  .m-location-tooltip-scroll {
    overflow-y: auto;
    max-height: 200px;
  }

  .m-location-tooltip-content {
    padding: 20px;
    
    h4 {
      font-size: 20px;
      color: $font-color-2;
      padding: 0 0 10px;      
    }
    
    p {
      font-size: 10px;
      text-transform: uppercase;
      color: $font-color-3; 
    }
  }

  @for $i from 1 through length($locationCategories) {
    &.-#{nth($locationCategories, $i)}{
      .m-location-tooltip-content {
        p {
          color: nth($locationCategoriesColor, $i);
        }
      }
    }
  }      


}
