.m-section-box {
  position: relative;

  a {
    color: $red;
    position: relative;
    padding: 0 20px 0 0;
    display: inline-block;    

    svg {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0,-50%);
      fill: red;
      margin: 1px 0 0;
    }

    &:hover {
      color: lighten($red,5%);
      
      svg {
        fill: lighten($red,5%);
      }
    }
  }

  &.-fullscreen {
    .info {
      display: inline-block;  
    }
  }

  &.-text {  
    .content {
      color: $font-color-2;
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
      padding: 40px 0;
      @media (min-width: $br-mobile){
        position: absolute;
        top: 50%;   
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0 100px;
      }
    }

    header {
      width: 100%;

      > * {
        padding: 10px 0 0;
        &:first-child {
          padding: 0;
        }
      }

      .icon {
        width: 80px;
        height: 80px;
        display: inline-block;
        margin: 0 auto 20px;
        background-size: contain;

        @for $i from 0 through 10 {
          &.-question-#{$i}{
            background-image: image-url("questions/question-#{$i}.svg");
          }
        }
      }

      h3 {
        color: $font-color-3;
        text-transform: uppercase;
      }

      h2 {
        color: $font-color-1;
        font-size: 36px;
        margin: 0 0 0 -1px;
        line-height: 1.2;
        @media (min-width: $br-mobile){
          font-size: 54px;
          margin: 0 0 0 -4px;
        }
      }
    }

    .info {
      padding: 20px 0 0;
      position: relative;
      margin: 0 auto;      
      @media (min-width: $br-mobile){
        padding: 40px 0 0;        
      }
      
      > * {
        margin-top: 20px;
        line-height: 1.75;

        &:first-child {
          margin-top: 0;
        }
      }

      h3 {
        font-size: 16px;
        color: $font-color-1;
      }

      .img {
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        max-width: 100%;
        background-size: cover;
        background-position: center;  
        box-shadow: $shadow-1;  
              
        @for $i from 1 through length($locationIds) {
          &.-image-#{nth($locationIds, $i)}{
            background-image: image-url("locations/image-#{nth($locationIds, $i)}.jpg");
          }
        }
      }
    }    
  }

  &.-text-scroll {
    overflow: auto;
    border-top: 70px solid transparent;
    .content {
      position: relative;
      top: 0%;   
      left: 0%;
      transform: translate(0%,0%);

      @media (min-width: $br-mobile){
        padding: 80px 100px 80px;
      }
    }
    
  }

  &.-absolute {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background: #FFF;
    transform: translate(0%,0%);
    transition: all $easeInOutSine 0.5s;
    opacity: 1;
    visibility: visible;
    @media (min-width: $br-mobile){
      position: absolute;
      width: 50%;
      z-index: 1;
    }

    &.-right {
      transform: translate(100%,0%);
      opacity: 0;
      visibility: hidden;
    }

    &.-bottom {
      transform: translate(0%,100%);
      opacity: 0;
      visibility: hidden;
    }
  }

  &.-map {
    z-index: 2;
  }

  &.-image {
    padding-bottom: 80%;
    margin: 0px -20px;
    @media (min-width: $br-mobile){
      padding: 0;
      margin: 0;
    }
  }

  &.-home {
    background: image-url("section/home.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm {
    background: image-url("section/confirm.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm-form {
    z-index: 2;
    background: image-url("section/confirm-form.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm-form-final {
    z-index: 3;
    left: auto;
    right: 0;    
    background: image-url("section/confirm-form-success.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-plan {
    background: image-url("section/plan-del-dia.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-coruna {
    background: image-url("section/coruna.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-regalo {
    background: image-url("section/regalo.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-juegos {
    background: image-url("section/juegos.jpg");
    background-size: cover;
    background-position: center;    
  }

  @for $i from 0 through 10 {
    &.-answer-#{$i}{
      background-image: image-url("answers/answer-#{$i}.jpg");
    }
  }

}