.m-section-box {
  position: relative;

  a {
    color: $red;
    position: relative;
    padding: 0 20px 0 0;

    svg {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0,-50%);
      fill: red;
      margin: 1px 0 0;
    }

    &:hover {
      color: lighten($red,5%);
      
      svg {
        fill: lighten($red,5%);
      }
    }
  }

  &.-text {  
    .content {
      color: $font-color-2;
      width: 100%;
      position: absolute;
      top: 50%;   
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 0 100px;
      max-width: 560px;
      margin: 0 auto;
    }

    header {
      width: 100%;

      h3 {
        color: $font-color-3;
        text-transform: uppercase;
        padding: 0 0 10px;
      }

      h2 {
        color: $font-color-1;
        font-size: 54px;
        margin: 0 0 0 -4px;
      }
    }

    .info {
      padding: 40px 0 0;
      
      > * {
        margin-top: 20px;
        line-height: 1.75;

        &:first-child {
          margin-top: 0;
        }
      }
    }    
  }

  &.-text-scroll {
    overflow: auto;
    .content {
      position: relative;
      top: 0%;   
      left: 0%;
      transform: translate(0%,0%);
      padding: 150px 100px 0;
    }
    
  }

  &.-home {
    background: image-url("section/home.jpg");
    background-size: cover;
    background-position: bottom right;
  }

  &.-confirm {
    background: image-url("section/confirm.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm-form {
    background: image-url("section/confirm-form.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm-form-final {
    background: image-url("section/confirm-form-final.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-plan {
    background: image-url("section/plan-del-dia.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-coruna {
    background: image-url("section/coruna.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-regalo {
    background: image-url("section/regalo.jpg");
    background-size: cover;
    background-position: center;    
  }

}