.m-section-box {
  position: relative;

  a {
    color: $red;
    position: relative;
    padding: 0 20px 0 0;
    display: inline-block;    

    svg {
      width: 16px;
      height: 16px;
      fill: $red;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &:hover {
      color: lighten($red,5%);
      
      svg {
        fill: lighten($red,5%);
      }
    }
  }

  &.-fullscreen {
    @media (min-width: $br-mobile-p){
      .info {
        display: inline-block;
        max-width: 600px; 
      }
    }
  }

  &.-cuantosabes {
    overflow: auto;
    padding: 0 25px;
    
    .content {
      color: $font-color-2;
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
      padding: 40px 0;
      @media (min-width: $br-mobile){
        position: absolute;
        top: 50%;   
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0 100px;
      }
    }
  }

  &.-text {  
    .content {
      color: $font-color-2;
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
      padding: 40px 0;
      @media (min-width: $br-mobile){
        position: absolute;
        top: 50%;   
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0 100px;
      }
    }

    header {
      width: 100%;

      > * {
        padding: 10px 0 0;
        &:first-child {
          padding: 0;
        }
      }

      .icon-answers {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .icon {
          width: 72px;
          height: 72px;

          @media (max-width: $br-mobile - 1){
            height: 0;
            width: 17.5%;
            padding-bottom: 17.5%;
            margin-bottom: 10px;            
          }
        }
      }

      .result-answers {

      }

      .icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;

        @media (min-width: $br-mobile){
          width: 80px;
          height: 80px;          
          margin: 0 auto 20px;
        }

        &.-question {
          @media (max-width: $br-mobile - 1){
            position: absolute;
            top: 40px;
            left: 20px;
          }
        }
        
        &:hover {
          @media (min-width: $br-mobile){            
            .tooltip {
              display: block;
            }
          }
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-size: contain;
        }

        @for $i from 0 through 10 {
          &.-question-#{$i}{
            &:after {
              background-image: image-url("questions/question-#{$i}.svg");  
            }
          }
        }

        .status {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          transform: translate(-25%,-25%);
          width: 32px;
          height: 32px;
          border: 2px solid red;
          border-radius: 50%;
          background: $white;

          svg {
            width: 100%;
            height: 100%;
            display: block;
          }
        }

        .tooltip {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%,20px);
          min-width: 250px;
          background: $white;
          padding: 20px;
          box-shadow: 0 0px 1px rgba($bg-color-1, 0.5);
          display: none;
          pointer-events: none;
          
          .-question {
            font-size: 16px;
            margin: 0 0 10px;
          }

          &:after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translate(-50%,-50%) rotate(45deg);
            width: 16px;
            height: 16px;
            background: $white;
            box-shadow: -1px -1px 0px rgba($bg-color-1, 0.25);
          }
        }

        &.-correct {
          .status {
            border-color: #1ac473;
            svg {
              fill: #1ac473;
            }         
          }
        }

        &.-incorrect {
          &:after {
            opacity: 0.5;  
          }
          
          .status {
            border-color: #c63e3e;
            svg {
              fill: #c63e3e;
            }
          }
        }
      }

      h3 {
        color: $font-color-3;
        text-transform: uppercase;
        
        &.-question {
          @media (max-width: $br-mobile - 1){
            padding: 0 0 0 45px;
            height: 40px;
            line-height: 40px;
          }
        }
      }

      h2 {
        color: $font-color-1;
        font-size: 36px;
        margin: 0 0 0 -1px;
        line-height: 1.2;
        @media (min-width: $br-mobile){
          font-size: 42px;
          margin: 0 0 0 -4px;
        }
        @media (min-width: $br-desktop){
          font-size: 54px;
          margin: 0 0 0 -4px;
        }

        &.-question {
          font-size: 24px;
          @media (min-width: $br-mobile){
            font-size: 54px;
          }
        }
      }
    }

    .info {
      padding: 20px 0 0;
      position: relative;
      margin: 0 auto;      
      @media (min-width: $br-mobile){
        padding: 40px 0 0;        
      }
      
      > * {
        margin-top: 20px;
        line-height: 1.75;

        &:first-child {
          margin-top: 0;
        }
      }

      h2 {
        font-size: 24px;
        color: $font-color-1;
        @media (min-width: $br-mobile){
          font-size: 36px;
        }
      }


      h3 {
        font-size: 16px;
        color: $font-color-1;
      }

      .grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 215px;
        margin: 0 auto;

        @media (min-width: $br-mobile-p){
          width: auto;
          margin: 0;
        }

        > * {
          margin: 0 0 15px;

          @media (min-width: $br-mobile-p){
            margin: 0 0 0 20px;
            &:first-child {
              margin: 0;
            }
          }
        }
      }

      .img {
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        max-width: 100%;
        background-size: cover;
        background-position: center;  
        box-shadow: $shadow-1;  
              
        @for $i from 1 through length($locationIds) {
          &.-image-#{nth($locationIds, $i)}{
            background-image: image-url("locations/image-#{nth($locationIds, $i)}.jpg");
          }
        }
      }
    }    
  }

  &.-text-scroll {
    overflow: auto;
    border-top: 30px solid transparent;
    @media (min-width: $br-mobile){
      border-top: 70px solid transparent;
    }

    .content {
      position: relative;
      top: 0%;   
      left: 0%;
      transform: translate(0%,0%);

      @media (min-width: $br-mobile){
        padding: 80px 100px 80px;
      }
    }
    
  }

  &.-absolute {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background: #FFF;
    transform: translate(0%,0%);
    transition: all $easeInOutSine 0.5s;
    opacity: 1;
    visibility: visible;
    @media (min-width: $br-mobile){
      position: absolute;
      width: 50%;
      z-index: 1;
    }

    &.-right {
      transform: translate(100%,0%);
      opacity: 0;
      visibility: hidden;
    }

    &.-bottom {
      transform: translate(0%,100%);
      opacity: 0;
      visibility: hidden;
    }
  }

  &.-map {
    z-index: 2;
  }

  &.-image {
    padding-bottom: 80%;
    margin: 0px -20px;
    @media (min-width: $br-mobile){
      padding: 0;
      margin: 0;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: none;
      @media (min-width: $br-mobile){
        display: block;
      }
    }
  }

  &.-home {
    background: image-url("section/home.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm {
    background: image-url("section/confirm.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm-form {
    z-index: 2;
    background: image-url("section/confirm-form.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-confirm-form-final {
    z-index: 3;
    left: auto;
    right: 0;    
    background: image-url("section/confirm-form-success.jpg");
    background-size: cover;
    background-position: center;
  }

  &.-plan {
    background: image-url("section/plan-del-dia.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-coruna {
    background: image-url("section/coruna.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-regalo {
    background: image-url("section/regalo.jpg");
    background-size: cover;
    background-position: center;    
  }

  &.-juegos {
    background: image-url("section/juegos.jpg");
    background-size: cover;
    background-position: center;    
  }

  @for $i from 0 through 10 {
    &.-answer-#{$i}{
      background-image: image-url("answers/answer-#{$i}.jpg");
    }
  }

}