.m-table {
  margin: 150px auto;
  border-collapse: collapse;
  text-align: left;

  th, td {
    padding: 8px;
    border: 1px solid #CCC;
  }

  th {

  }

  td {

  }
}

.m-table-plan {
  
  tr {
    margin: 0;
  }

  td {
    padding: 5px 0;
  }

  strong {
    display: block;
    padding: 0 15px 0 0;
    text-align: right;
  }
}