<div id="scrollView" class="m-content">
  <section class="m-section">
    <div class="m-section-box -text -text-scroll">
      <div class="content">
        <header>
          <h3>UNA GRAN CIUDAD</h3>
          <h2>Planes por Coruña.</h2>
        </header>
        <div class="info">
          <div id="locationsView"></div>
        </div>
      </div>
    </div>
    <div id="locationView" class="m-section-box -text -text-scroll -absolute -right"></div>
    <div class="m-section-box -map">
      <div id="mapView" class="m-map"></div>
      <div id="locationTooltipView" class="m-location-tooltip"></div>
    </div>    
  </section>
</div>
