<div id="scrollView" class="m-content">
  <section class="m-section">
    <div class="m-section-box -text -text-scroll">
      <div class="content">
        <header>
          <h3>UNA GRAN CIUDAD</h3>
          <h2>Planes por Coruña.</h2>
        </header>
        <div class="info">
          <p>Luego de tan buenos momentos e historias juntos, el 29 de octubre de 2016, daremos un paso adelante en nuestra relación.</p>
          <p>Para nosotros será un día inolvidable, deseamos que lo sea también para vosotros, formais parte de nuestra historia y no sería completo sin vuestra presencia.</p>
          <p>Gracias a todos, <br>Bea y Matías</p>
        </div>
      </div>
    </div>
    <div class="m-section-box -map">
      <div id="mapView" class="m-map"></div>
    </div>    
  </section>
</div>
