<div class="field -field-to-remove">
  <div class="label">-</div>          
  <input class="field-item-children" name="children[]" placeholder="Nombre de tu hijo nº{{order}}" type="text" aria-required="true" aria-invalid="false" required />
  <button class="btn-icon btn-remove-children" type="button">
    <svg><use xlink:href="#icon-close"></use></svg>
  </button>
</div>            
