<h2>Matrícula de Honor</h2>
<h3>¡Puntaje perfecto!</h3>
<p>Como nos conoces tan bien te invitamos a que nos recomiendes una canción para que suene en la fiesta.</p>
<div class="mega-field">
  <input id="enquire-song" type="text" placeholder="Introduce una canción" required/>    
</div>
<div class="actions -no-padding">
  <button id="btn-enquire-song" class='btn -default -dark -fullwidth'>Enviar</button>
</div>