<div class="m-location-tooltip-scroll">
  <div class="m-location-tooltip-content">
    <h4>name</h4>
    <p>{{name}}</p>
    <h4>category_name</h4>
    <p>{{category_name}}</p>
    <h4>description</h4>
    <p>{{description}}</p>
  </div>
</div>     
