<div class="content">
  <header>
    <p><a class="js-location-close" href="#"><svg><use xlink:href="#icon-arrowleft"></use></svg> Volver a planes </a></p>
    <h2>{{this.name}}</h2>
    <h3>{{this.category_name}}</h3>
  </header>
  <div class="info">
    <p>{{this.description}}</p>
  </div>
</div>
