<div class="content">
  <header>
    <p><a class="js-location-close" href="#"><svg><use xlink:href="#icon-arrowleft"></use></svg> Volver a planes </a></p>
    <h2>{{this.name}}</h2>
    <h3>{{this.category_name}}</h3>
  </header>
  <div class="info">
    <p>{{this.description}}</p>
    <img src="/assets/home/new-york.jpg">
    <table class="m-table-plan">
      <tbody>
        <tr>
          <td><strong>Dirección</strong></td>
          <td>Avda. de Navarra s/n. 15002 A Coruña</td>
        </tr>
        <tr>
          <td><strong>Teléfono</strong></td>
          <td>981 223 730</td>
        </tr>
        <tr>
          <td><strong>Localización</strong></td>
          <td>GPS: 43º 23´N - 8º 24´W</td>
        </tr>
        <tr>
          <td><strong>Bus</strong></td>
          <td>3, 3A, 5</td>
        </tr>
        <tr>
          <td><strong>Horarios</strong></td>
          <td>De octubre a mayo, de 10h a 18h (cierre de entrada a las 17:30h) </td>
        </tr>
        <tr>
          <td><strong>Tarifa</strong></td>
          <td>3€, lunes gratis</td>
        </tr>
        <tr>
          <td><strong>Web</strong></td>
          <td><a href="http://www.torredeherculesacoruna.com">http://www.torredeherculesacoruna.com</a></td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>
