{{#each this.locations}}
  <li>
    <div class="-img {{this.category}}"></div>
    <div class="-content">
      <h4>{{this.category_name}}</h4>
      <h3>{{this.name}}</h3>
    </div>
  </li>
{{/each}}    

