%reset-btn {
  -webkit-appearance: none;
  border: 1px solid transparent;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

// Defaults buttons
.btn {
  @extend %reset-btn;
  
  // Size
  &.-default {
    display: block;
    padding: 20px;
    line-height: 1;
    transition: all 0.25s $easeInOutSine;   
  }

  &.-small {
    padding: 10px 20px;
  }
  
  // Colors
  &.-dark {
    background: $bg-color-1;
    color: $white;
    border: 2px solid $bg-color-1;

    &:hover {
      background: lighten($bg-color-1,5%);
      border-color: lighten($bg-color-1,5%);
    }
  }

  &.-gray {
    background: $bg-color-2;
    color: $white;
    border: 2px solid $bg-color-2;

    &:hover {
      background: lighten($bg-color-2,5%);
      border-color: lighten($bg-color-2,5%);
    }    
  }

  &.-fullwidth {
    width: 100%;
  }
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
  width: auto;
  background: $white;
  color: $font-color-1;
  @media (min-width: $br-mobile){
    padding: 22px 25px;   
  }

  &.-dark {
    background: $font-color-1;
    color: $white;

    svg {
      fill: $white;
    }
  }

  svg {
    display: block;
    width: 26px;
    height: 26px;
    fill: $font-color-1;

    &:first-child {
      margin: 0 5px 0 0;  
    }
    
    &:last-child {
      margin: 0 0 0 5px;  
    }
  }    
}
