// GRID
.field-grid {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;

  > li {
    margin: 15px 0 0;
    padding: 15px 0 0;
    
    &:first-child {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

// FIELD
.field {
  position: relative;
  display: flex;
  align-items: center;

  label, .label {
    display: block;
    position: relative;
    padding: 10px 20px 10px 0;
    font-size: 12px;
    width: 120px;
    text-align: right;
    color: $font-color-2;
    border-bottom: 2px solid transparent;
    
    &.-enquire {
      width: 100%;
      text-align: left;
    }

    &.error {
      text-transform: none;
      color: red;
      font-size: 10px;
      display: none !important;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    padding: 10px 5px;
    display: block;
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
    font-size: 12px;
    background: none;
    border: none;
    border-bottom: 2px solid $font-color-3;
    color: $font-color-1;
    outline: none;  

    &.error {
      border-color: $red;
    }
  }  

  textarea {
    width: calc(100% - 120px) !important;
    border: 2px solid $font-color-3;
    padding: 5px;
  }

  .field-array {
    width: 100%;
    .actions {
      margin: 10px 0 0;
    }
  }

  .btn-icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    z-index: 2;
    border-radius: 50%;
    border: 1px solid $red;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $red;
    }

    &:hover {
      border-color: lighten($red,10%);
      svg {
        fill: lighten($red,10%);
      }
    }
  }  

  &.-hidden {
    display: none;
  }

  // Checkbox
  &.-checkbox {
    input[type="checkbox"] {
      display: none;
    }
    label {
      opacity: 0.5; 
      padding-left: 30px;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid $border-color-1;
        transform: translate(0%,-50%);
      }
    }
    input[type="checkbox"]:checked + label {    
      opacity: 1; 
      &:before {
        background: image-url("icons/check.svg") center;
        background-size: 80%;
      }
    }
  }

  // Radio
  &.-radio1 {
    input[type="radio"] {
      display: none;
    }
    label { 
      padding-left: 30px;
      cursor: pointer;

      &:hover {
        color: $font-color-1;

        &:after {
          opacity: 0.5;
          visibility: visible;          
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $border-color-1;
        transform: translate(0%,-50%);
      }

      &:after {
        content: "";
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 12px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        background: $bg-color-1;
      }
    }
    
    input[type="radio"]:checked + label {    
      color: $font-color-1;
      
      &:after {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.-radio-image {
    input[type="radio"] {
      display: none;
    }
    
    label { 
      cursor: pointer;
      width: 130px;
      height: 130px;
      opacity: 0.85;
      background-size: contain;
      background-repeat: no-repeat;
            
      @for $i from 0 through 4 {
        &.label-7-#{$i}{
          background-image: image-url("questions/question-7-#{$i}.png");
        }
      }

      &:hover {
        opacity: 1;
      }
    }
    
    input[type="radio"]:checked + label {    
      opacity: 1;     
    }
  }


  // Radio
  &.-radio {
    
    .-radio-content {
      display: flex;

      .-radio-box {
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;

        &:first-child {
          margin: 0;
        }
      }      
    }

    input[type="radio"] {
      display: none;
    }

    label {
      padding: 10px 10px 10px 30px;
      cursor: pointer;
      text-align: left;
      width: auto;
      
      &.-true {
        &:after {
          background: $font-color-2;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $font-color-3;
        transform: translate(0%,-50%);
      }

      &:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $font-color-3;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translate(-50%,-50%);
        display: none;
      }
    }

    input[type="radio"]:checked + label {     
      &:after {
        display: block;
      }
    }

  }

}

// ACTIONS
.actions {
  padding-left: 120px;
  display: flex;

  &.-no-padding {
    padding: 0;
  }

  &.-j-left {
    justify-content: flex-start;
  }

  &.-j-center {
    justify-content: center;
  }

  &.-j-right {
    justify-content: flex-end;
  }

}
