.wrapper {
  &.-fullscreen {
    height: 100vh;
    overflow: hidden;
  }
}

.m-content {
  width: 100%;
  height: 100%;
  transform: translate(0,0);
}

.m-section {
  width: 100%;
  height: 100%;
  display: flex;

  .m-section-box {
    width: 50%;
    height: 100%;
  }
}
