.wrapper {
  &.-cuantosabes {
    height: 100vh;
    overflow: hidden;
  }

  &.-fullscreen {
    @media (min-width: $br-mobile){
      height: 100vh;
      overflow: hidden;
    }
  }
}

.m-content {
  &.-cuantosabes {
    width: 100%;
    height: 100%;
    transform: translate(0,0);
  }

  @media (min-width: $br-mobile){
    overflow: hidden;
    width: 100%;
    height: 100vh;
    transform: translate(0,0);
  }
}

.m-section {
  width: 100%;
  padding: 0px 20px;
  
  &:first-child {
    padding: 50px 20px 0px;      
  }

  &:last-child {
    padding: 0px 20px 0px;      
  }

  &.-cuantosabes {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 0px;
    @media (min-width: $br-mobile){
      padding: 0;
    }
  }


  @media (min-width: $br-mobile){
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    &:first-child {
      padding: 0;
    }

    &:last-child {
      padding: 0;
    }
  }

  .m-section-box {
    @media (min-width: $br-mobile){
      width: 50%;
      height: 100%;
      padding: 0;
      
      &.-fullscreen {
        width: 100%;
        .content {
          max-width: 1000px;
          text-align: center;
        }
      }
    }
  }
}
